.header {
  height: 70px;
  background-color: var(--verde-uis);
  color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right li:hover,
.nav-left li:hover {
  background-color: rgb(126, 169, 41);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}